@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Error in Page!!!</h1>
        <h3>Error : @Model.Exception.Message</h3>
    </div>
</body>
</html>
