USE [master]
GO
/****** Object:  Database [DB_employee_JuneJuly]    Script Date: 11.4.25 14:57:02 ******/
CREATE DATABASE [DB_employee_JuneJuly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_employee_JuneJuly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_employee_JuneJuly.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_employee_JuneJuly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_employee_JuneJuly_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_employee_JuneJuly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_employee_JuneJuly]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 11.4.25 14:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[salary] [int] NULL,
	[Dept] [varchar](50) NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([id], [name], [salary], [Dept]) VALUES (1, N'Rajesh', 25000, N'Sales')
INSERT [dbo].[tblEmployee] ([id], [name], [salary], [Dept]) VALUES (2, N'Vinod', 45000, N'Account')
INSERT [dbo].[tblEmployee] ([id], [name], [salary], [Dept]) VALUES (3, N'Rajesh', 12000, N'Account')
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
GO
USE [master]
GO
